name: Terraform CI/CD

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/**'
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/**'

env:
  AWS_REGION: "us-east-1"
  TF_VERSION: "1.13.3"
  CLUSTER_NAME: "project-bedrock-cluster"

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::897722663141:role/github-actions-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Format Check
        run: terraform fmt -check
        continue-on-error: true

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      # PR: Plan only
      - name: Terraform Plan
        if: github.event_name == 'pull_request'
        run: terraform plan

      # Merge to main: Apply
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve

  deploy:
    name: Deploy to Kubernetes
    runs-on: ubuntu-latest
    needs: terraform
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::897722663141:role/github-actions-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3

      - name: Setup Helm
        uses: azure/setup-helm@v3

      - name: Configure kubectl
        run: |
          aws eks update-kubeconfig --name ${{ env.CLUSTER_NAME }} --region ${{ env.AWS_REGION }} --alias admin

      - name: Setup ESO (External Secrets Operator)
        run: |
          chmod +x ./scripts/setup-eso.sh
          ./scripts/setup-eso.sh

      - name: Deploy Retail App
        run: |
          chmod +x ./scripts/deploy-retail-app-rds.sh
          ./scripts/deploy-retail-app-rds.sh

      - name: Setup ALB Controller
        run: |
          chmod +x ./scripts/setup-alb-controller.sh
          ./scripts/setup-alb-controller.sh

      - name: Show Deployment Status
        run: |
          echo "=== Pods ==="
          kubectl get pods -n retail-app
          echo ""
          echo "=== Ingress ==="
          kubectl get ingress -n retail-app